<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="css/blue.css" />
<link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/cufon.yui.js"></script>
<script type="text/javascript" src="js/scrollTo.js"></script>
<script type="text/javascript" src="js/myriad.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">{{ .Firstname }} {{ .Lastname }}<br />
              <span>Software Developer</span></h1>
            <ul>
              <li class="ad">{{ .Address }}</li>
              <li class="mail">{{ .Email }}</li>
              <li class="tel">{{ .Phone }}</li>
            </ul>
          </div>
          <!-- End Personal Information -->
        </div>
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2>EDUCATION</h2>
          {{ range .EducationItems }}
          <div class="content">
            <h3>Sep 2005 - Feb 2007</h3>
            <p>{{ .Title }}<br />
              <em>{{ .Description }}</em></p>
          </div>
          {{ end }}
        </div>
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2>EXPERIENCE</h2>
          {{ range .Jobs }}
          <div class="content">
            <h3>May 2009 - Feb 2010</h3>
            <p>{{ .CompanyName }} | {{ .Location }}<br />
              <em>{{ .Title }}</em></p>
            <ul class="info">
              {{ .Description }}
            </ul>
          </div>
          {{end}}
        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>SKILLS</h2>
          {{ range .Skills }}
          <div class="content">
            <h3>{{ .Name }}</h3>
            <ul class="skills">
              {{ .Description }}
            </ul>
          </div>
          {{ end }}
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
